body {
	min-height: 2000px;
}

section {
	padding-top: 5rem;
}

.jumbotron {
	padding-top: 6rem;
	background-color: #e2edff;
}

#projects {
	background-color: #a2d9ff;
}

footer {
	background-color: #a2d9ff;
}

p {
	margin-bottom: 0 !important;
}
